@import "../../global.scss";

.locationsSection {
  margin: 4rem auto;
  @include box-center($direction: column);
  p {
    max-width: 75%;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 1.5rem 0;
  }
  .locationsWrapper {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1410px) {
  .locationsSection {
    p {
      max-width: 90%;
    }
  }
}
