@import "../../global.scss";

.galeryPage {
  max-width: 75%;
  margin: 8rem auto;
  min-height: calc(100vh - 21rem);
  .pickerOne {
    @include box-center;
    gap: 3rem;
    button {
      width: 12rem;
      transition: all 0.4s ease-in-out;
      border-radius: 2rem;
      @include box-center;
      gap: 1rem;
      img {
        width: 1.5rem;
      }
      &.active {
        background: $green-000;
      }
    }
  }
  .pickerTwo {
    @include box-center;
    gap: 2rem;
    margin-top: 2rem;
    button {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      &.active {
        color: $green-000;
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 25%;
          width: 50%;
          height: 3px;
          background: $green-000;
        }
      }
    }
  }
}

@media screen and (max-width: 1410px) {
  .galeryPage {
    max-width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .galeryPage {
    .pickerTwo {
      flex-direction: column;
      margin: 4rem 0;
    }
    .pickerOne {
      gap: 1rem;
      button {
        width: 9rem;
      }
    }
  }
}
